@model List<Equipos>

@{
	ViewData["titulo"] = "Lista de Equipos";
}

<h1>@ViewData["titulo"]</h1>

<div>
    <table class= "table table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Coach</td>
                <td>Liga</td>
                <td>Fecha de creacion</td>
            </tr>
        </thead>
        
        @foreach(var equipos in Model)
        {
            <tr>
                <td>@equipos.Nombre</td>    
                <td>@equipos.Coach</td>    
                <td>@equipos.Liga</td>    
                <td>@equipos.Creacion</td>    
            </tr>
        }
    </table>
</div>
