@model List<Jugadores>
@{

	ViewData["Title"] = "Archivo Practica 02";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("CargarArchivo", "ArchivoJugadores", FormMethod.Post, new { enctype = "miltipart/form-data" }))
{

	<label> Cargar Archivo </label>

	<input type="file" name="archivo" />
	//Name = Nombre del parametro

	<input type="submit" , value="Enviar" />

	@if (Model != null)
	{
		<table class="table table-hover">

			<thead>

				<tr>

					<td>Nombre</td>
					<td>Apellido</td>
					<td>Rol</td>
					<td>KDA</td>
					<td>CreepScore</td>
					<td>Equipo</td>



				</tr>





			</thead>

			@foreach (var jugadores in Model)

			{
				<tr>
					<td>@jugadores.Nombre</td>
					<td>@jugadores.Apellido</td>
					<td>@jugadores.Rol</td>
					<td>@jugadores.KDA</td>
					<td>@jugadores.CreepScore</td>
					<td>@jugadores.Equipo</td>

				</tr>

			}
		</table>

	}


}
