@model List<Equipos>

@{
	ViewData["titulo"] = "Carga de archivo de lista de Equipos"; 
}

<h1>@ViewData["titulo"]</h1>

@using (Html.BeginForm("SubirArchivo", "CargaArchivosEquipos", FormMethod.Post, new{enctype = "multipart/form-data"}))
{
	<label>Subir archivo</label>

	<input type = "file", name = "archivo"/>
	<input type = "submit", name = "Enviar"/>

	@if(Model != null)
	{
		<table class= "table table-hover">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Coach</td>
                    <td>Liga</td>
                    <td>Fecha de creacion</td>
                </tr>
            </thead>
        
            @foreach(var equipos in Model)
            {
                <tr>
                    <td>@equipos.Nombre</td>    
                    <td>@equipos.Coach</td>    
                    <td>@equipos.Liga</td>    
                    <td>@equipos.Creacion</td>    
                </tr>
            }
        </table>
	}
}