@model List<Jugadores>

@{
	ViewData["titulo"] = "Lista de Jugadores";
}

<h1>@ViewData["titulo"]</h1>

<div>
    <table class= "table table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Rol</td>
                <td>KDA</td>
                <td>CreepScore</td>
                <td>Equipo</td>
            </tr>
        </thead>
        
        @foreach(var jugadores in Model)
        {
            <tr>
                <td>@jugadores.Nombre</td>    
                <td>@jugadores.Apellido</td>    
                <td>@jugadores.Rol</td>    
                <td>@jugadores.KDA</td>
                <td>@jugadores.CreepScore</td>    
                <td>@jugadores.Equipo</td>    
            </tr>
        }
    </table>
</div>